@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Roboto", sans-serif;
  color: var(--text-black);
}

:root {
  --text-black: #252638;
  --primary-color: #d2dff4;
  --primary-blue: #3f3655;
  --primary-section2: #3d5536;
  --primary-section3: #553636;
}

/* Language Toggle ------------------------------- */
.toggle-bar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 48px;
  right: 48px;
  z-index: 999;
}

.de-wrapper,
.en-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.toggle-button {
  cursor: pointer;
  position: relative;
  width: 56px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-blue);
  border-radius: 999px;
  margin: 0px 16px;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.toggle-button:hover .toggle-circle {
  transform: scale(0.92);
}

.toggle-circle {
  position: absolute;
  left: 6px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}

.slide {
  left: 30px;
}

/* Experience ------------------------------- */

.experience {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.experience-canvas {
  width: 100%;
  height: 100%;
}

/* Section Style ------------------------------- */
.section-margin {
  height: 3000px;
  width: 100%;
}

.section {
  position: relative;
  width: 50%;
  padding: 100px 4%;
  margin: 0;
  background-color: var(--primary-color);
  overflow: hidden;
}

.left {
  margin-right: auto;
  border-top-right-radius: 700px 700px;
  border-bottom-right-radius: 0px 0px;
}

.right {
  margin-left: auto;
  border-top-left-radius: 700px 700px;
  border-bottom-left-radius: 0px 0px;
}

/* Progress Bars */
.progress-wrapper {
  height: 0;
  width: 12px;
  z-index: 9999;
}

/* Sections */
.section-intro-wrapper {
  position: relative;
  padding: 20% 5%;
  border-bottom: 2px solid var(--primary-blue);
  padding-bottom: 400px;
}

.section-detail-wrapper {
  position: relative;
  padding: 20% 5%;
}

.section-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.8;
  margin-top: 64px;
}

.section-text {
  line-height: 2;
  margin-top: 18px;
  font-size: 16px;
}

/* Section Decoration ------------------------------- */
.section-title {
  position: relative;
  color: var(--primary-blue);
}

.section-title-text {
  display: block;
  font-size: 40px;
  font-weight: 500;
  transform-origin: left;
  transform: skewY(25deg);
  z-index: 5;
  text-transform: uppercase;
}

.styleOne,
.styleTwo,
.styleThree {
  position: absolute;
  display: block;
  width: 100%;
  max-width: 280px;
  height: 60px;
  border: 1px solid var(--primary-blue);
  transform-origin: left;
  transform: skewY(-25deg);
}

.styleOne {
  top:0px;
}

.styleTwo {
  top:80px;
}

.styleThree {
  top:80px;
  transform: skewY(25deg);
  background-color: var(--primary-blue);
}
.section-number {
  position: absolute;
  bottom: 15px;
  right: 0;
  color: var(--primary-blue);
  font-size: 24px;
}

/* Page Style ------------------------------- */
.page {
  z-index: 99999;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page-wrapper {
  position: relative;
}

/* Name Section ------------------------------- */
.hero {
  width: 100vw;
  height: 100vh;
}

.hero-wrapper {
  position: relative;
  height: 100%;
  width: calc(100% - 160px);
  margin: 0 auto;
  max-width: 1100px;
}

.hero-main {
  position: absolute;
  bottom: 150px;
  left: 0;
}

.hero-second {
  position: absolute;
  top: calc(50% - 130px);
  right: 0;
}

.hero-main-title {
  font-size: 32px;
}

.hero-main-description {
  font-size: 18px;
}

.hero-second-subheading {
  font-size: 22px;
  text-transform: uppercase;
}

/* Color override ------------------------------- */

.color-section2-text {
  color: var(--primary-section2);
}

.color-section2-border {
  border-color: var(--primary-section2);
}

.color-section2-background {
  background-color: var(--primary-section2);
}

.color-section3-text {
  color: var(--primary-section3);
}

.color-section3-border {
  border-color: var(--primary-section3);
}

.color-section3-background {
  background-color: var(--primary-section3);
}

/* Media Queries ------------------------------- */
@media (max-width: 968px) {
  .section {
    width: 100%;
  }
}

/* Image Scroll ------------------------------- */

div.scroll-container {
  background-color: #252638;
  overflow: auto;
  white-space: nowrap;
  padding: 5px;
  border-radius: 5px;
}

div.scroll-container img {
  padding: 1px;
  max-width: 30%;
  height: auto;
}

*:focus{
  outline: none;
}

.gallery{
  width: 80%;
  height: 90vh;
  max-width: 1600px;
  max-height: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gallery-image{
  width: 30%;
  height: calc(50% - 20px);
  min-width: 300px;
  min-height: 200px;
  margin: 10px;
  overflow: hidden;
}

.image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}

.render {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.render:hover {opacity: 0.7;}

/* Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/* Footer */
.footer {
  float: left;
  display: flex;
  padding: 0% 5%;
}
.legal-notice {
  padding-left: 20px;
}
.credits {
  padding-left: 40px;
}
.linkedin {
  text-decoration: none;
  color: var(--text-black);
  font-weight: 500;
}
.mail-btn {
  background: var(--primary-blue);
  border-radius: 999px;
  box-shadow: var(--primary-blue) 0 10px 20px -10px;
  box-sizing: border-box;
  color: #DDDDDD;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin-top: 20px;
}